<h1>Books#index</h1>

<% @books.each do |book| %>
  <p><%= book.title %></p>
<% end %>

<%= form_tag "/books", method: "post" do %>
  <input type="text" name="title" />
  <input type="submit" value="Add book"/>
<% end %>
